:root {
  --primary-text-color: #212121;
  --marked-text-color: #2196f3;
  --secondary-text-color: #757575;
  --contrast-text-color: #ffffff;
  --footer-text-color: #rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --icons-background-color: #f5f4fa;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
/* Roboto regular
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
Roboto 500
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
Roboto bold
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body {
  font-family: 'Raleway', sans-serif;

}
header {
  background-color: var(--primary-background-color);
  font-family: 'Raleway', sans-serif;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-family: 'Raleway', sans-serif;
}
link {
  text-decoration: none;
  color: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--primary-text-color);
  width: 153;
  height: 31;
  font-family: 'Raleway', sans-serif;
}
.logo :hover {
  color: var(--marked-text-color: );
}
.logo-web {
  color: var(--marked-text-color);
  .logo-footer {
      color: var(--contrast-text-color);
      width: 153;
      height: 31;
      font-family: 'Raleway', sans-serif;
  }
}
ul {
  list-style: none;
}

/*site nav*/

.site-nav {
  color: var(--primary-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--marked-text-color);
}

.site-nav .link.current {
    color: var(--marked-text-color);
}

.link.unactive {
    color: var(--primary-text-color);
}

.contacts-header {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-weight: 122;
  height: 16;
}
.contacts-header :hover,
.contacts-header :focus {
  color: var(--marked-text-color);}

  /* main container*/

.contacts {
}

 .slogan {
font-family: Roboto;
font-style: normal;
letter-spacing: 0.06em;
text-transform: uppercase;
color: rgb(184, 128, 26);} /*var(--contrast-text-color)*/  

.button {
  color: var(--contrast-text-color);
  background-color: var(--marked-text-color);
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*
.order-service {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
}*/

.section-titel {
  color: #212121;
}
.features {
}

#slogan {
  height: 153;
  font-weight: 31;
  color: orange;
}
.social-links {
  height: 20;
  font-weight: 20;
  color: rgba(0.69, 0.69, 0.72, 1);
  text-decoration: none;

.contacts-header:hover,
.contacts-header:focus {
  color: rgba(0.13, 0.59, 0.95, 1);
}

.contacts-header:active {
  color: turquoise;
}

.link: hover, 
.link: focus {
  color: orange;
}

.link: :active {
  color: blue;
}



.button-titel {
  color: var(--primary-text-color);
  background-color: var(--icons-background-color);
}
.button-titel:hover, 
.button-titel:focus {
  color: var(--contrast-text-color);
  background-color: var(--marked-text-color);
}
