:root {
    --primary-text-color: #212121;
    --marked-text-color: #2196F3;
    --secondary-text-color: #757575;
    --contrast-text-color: #FFFFFF;
    --footer-text-color: #rgba(255, 255, 255, 0.6); 
    --primary-background-color:   #FFFFFF;
    --icons-background-color: #F5F4FA;
    --secondary-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
}


body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
header {
  background-color: var(--primary-background-color) 
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}
link {
    text-decoration: none;
}

.logo {
    color: var(--primary-text-color);
    width: 153;
    height: 31;
}
.logo :hover {
    color: var(--marked-text-color:);
}
.logo-web {
color: var(--marked-text-color);
}
ul {
    list-style: none;
}

/*site nav*/

.site-nav{
color: #212121;

}
.site-nav :hover,
.site-nav :focus{
    color: #2196F3;
}

.contacts{

}

.section {

}

.section-titel {
    color: #212121;;
}
.features{

}


#slogan {
  height: 153;
  font-weight: 31;
  color: orange;
}
.social-links {
  height: 20;
  font-weight: 20;
  color: rgba(0.69, 0.69, 0.72, 1);
  text-decoration: none;
}

.contacts-header {
  color: rgba(0.46, 0.46, 0.46, 1);
  font-weight: 122;
  height: 16;
}
.contacts-header:hover,
.contacts-header:focus {
  color: rgba(0.13, 0.59, 0.95, 1);
}

.contacts-header:active {
  color: turquoise;
}

.link: hover, 
.link: :focus {
  color: orange;
}

.link: :active {
  color: blue;
}



/* colors
main text color #212121
hoover text color #2196F3
p text color #757575
white text color #FFFFFF
footer text color / e-mail, phone #99FFFFFF

background: #E5E5E5
our team background: #F5F4FA
footer background: #2F303A;
header background: #FFFFFF;
what do we do bc #CC2F303A
buttons background: #2196F3;
copyright  rgba(255, 255, 255, 0.4)